{% extends 'main/layout.html' %}
{% block title %} Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>О себе</h1>
        <p>Здравствуйте, для меня важно попасть в программу ТОП-ИТ. Я очень хочу быть участником </p>
        <p>данной программы, так как для меня это возможность получить хорошее образование, а также </p>
        <p>практические навыки.</p>
        <p>С детства я интересовался информационными технологиями. С 9 класса увлекся разработкой игр </p>
        <p>на Python. В 10 классе я прошел курс «Код будущего» и написал более-менее серьезную игру. Также я </p>
        <p>пробовал себя в 3д разработке. За 10-11 изучил C#, C++, Java, прокачал знания в Python. В 11 классе я </p>
        <p>прошел курс «Надежная смена», где ИТ рассматривалась в области энергетики.</p>
        <p>В командных проектах я с удовольствием принимаю участие, нередко становился лидером. </p>
        <p>Ожидаю, что с помощью этой программы я смогу прокачать свои софт-скиллы, делая много </p>
        <p>командных проектов. </p>
        <p>В будущем я вижу себя востребованным специалистом, который будет разрабатывать серьезные  </p>
        <p> проекты для государства, частных предприятий. Я вижу себя как специалиста, который не просто </p>
        <p>пишет код или настраивает системы, но и понимает глубинные принципы, умеет  </p>
        <p> находить оптимальные решения. Своими решениями я хочу принести пользу обществу. Я думаю, что у </p>
        <p>меня будет слаженная команда, где важен каждый. </p>

    </div>
{% endblock %}